.purchase-service {
    top: 25%;
    position: fixed;
    right: 25%;
}

/* .gallery-service {
    position: relative;
    width: 100px;
} */

.service-container {
    display: flex;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.gTLZXx {
    width: 400px;
}

.bottom-img {
    position: relative;
    bottom: 0px;
}