.service-container {
    display: flex;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.purchase-service {
    top: 25%;
    position: fixed;
    right: 0;
}

/* .gallery-service {
    position: relative;
    width: 100px;
} */



/* .gTLZXx {
    width: 400px;
} */